@{
    ViewBag.Title = "DeleteInCart";
}

<h2>Deleted In Cart</h2>

<nav>
    <ul class="pager">
        <li><a href="@Url.Action("Index", "Products")">Home Page</a></li>

    </ul>
</nav>

<nav>
    <ul class="pager">
        <li><a href="@Url.Action("MyCart")">My Cart</a></li>

    </ul>
</nav>