@using dbdamacana.Models
@model dbdamacana.Models.Product

@{
    ViewBag.Title = "DeleteProduct";
}

<h2>Product Deleted From List</h2>
<nav>
    <ul class="pager">
        <li><a href="@Url.Action("Index")">Home Page</a></li>

    </ul>
</nav>