@model dbdamacana.Models.Product
@{
    ViewBag.Title = "Editt";
}


<h2>
    Edit
    <span class="label label-success"> @Model.Name</span>
</h2>

<nav>
    <ul class="pager">
        <li><a href="@Url.Action("Index")">Home Page</a></li>

    </ul>
</nav>